# AVAILABLE COLORS:
# kMagenta
# kBlue
# kOrange
# kRed
#####################################################
#FORMAT: input root histo-name line-color area-color  
#####################################################
HISTOGRAM syst_results/diphoton/T5Wg_diphoton_results.root xsecUL_Exp_T5Wg_diphoton
EXPECTED syst_results/diphoton/T5Wg_diphoton_results.root Exp_T5Wg_diphoton ExpPlus_T5Wg_diphoton ExpMinus_T5Wg_diphoton kRed kOrange
EXPECTED2 syst_results/diphoton/T5Wg_diphoton_results.root Exp_T5Wg_diphoton ExpPlus2_T5Wg_diphoton ExpMinus2_T5Wg_diphoton kGray+1 kGray
# Preliminary Simulation or leave empty
PRELIMINARY Preliminary
# Lumi in pb 
LUMI 35900
# Beam energy in TeV
ENERGY 13
#
BOXES diphoton
